body{ text-align: center }

table{ margin-left: auto;
        margin-right: auto; }

.site-width{ width: 100vw; }

.container-area h1{ font-size: 5vw; }

.drink-area .drink-form-container
{
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}

.drink-form-container span
{
    width: 30vw;
    float: left;
    position: relative;
    border: 1px black solid;
    box-sizing: border-box;
}

.drink-form-container button
{
    width: 30vw;/* imgタグとwidth,heightの大きさを揃える */
    height: 30vw;
    display: block;
    background-color: #F9C80E;/*background-colorをしっかりと指定しないとinputタグが小さくなってしまいます*/
    opacity: 0;/* buttonタグは見えなくなるようにopacity:0;*/
    position: absolute;
    top:0;
    z-index: 2;/*透明なボタンが画像より手前に来るようにz-indexを指定*/
}

.drink-form-container button
{
    cursor: pointer;
}

.modal
{
    display: none;
}