form{
           
            
}
body{
    background-color :#c0c0c0;
    text-align: center;
}

h1{
    font-size:25px;
    color:#191970;
}

.login {
    /*background-color : #ffdab9;*/
    width: 500px;
    margin: 150px auto;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.login input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 11px;
    font-family: inherit;
    font-size: 0.95em;
}

/*.login input:hover {
    text-decoration: none;
    background-color:#8d8d8d;
}*/


.color{
    background-color :#dcdcdc;
    height:auto;

}