      body{
        background-color:#fffff9;
      }

      h2{
          text-align:center;
          margin-top:10%;
      }

      header{
          background-color:#ac7c40;
          width:95%;
          padding:0.5%;
          margin-top:3%;
          margin-left:2%;
          margin-right:2%;
      }


      footer{
            background-color:#ac7c40;
            width:95%;
            height:5%;
            margin-left:2%;
            margin-right:2%;
            margin-bottom:5%;
            text-align: center;
            position: absolute;/*←絶対位置*/
            bottom: 0; /*下に固定*/
}