/*項目を動かさないためにtableをわけたのでカラムの幅を固定にして項目とデータの幅をあわせる
        　項目を動かしたい場合は、tebleを一つにする
        　スクロールはtableをdivで囲む
        */

.over{
    width: auto;  /* スクロールの出る場所を決める */
    height: 340px;  /*表の高さを弄らなかった場合の7行分くらい*/
    /*scollだと常に表示*/
    overflow-y: scroll;
}
th,td {
border: solid 1px;          /* 枠線指定 */
font-size: 25px;
height: 50px;
width: 310px;
}
table{
margin: auto;
}
.sum_table{
margin:auto;

}